<h1>About Us</h1>

<p>NSBE's mission is "to increase the number of culturally responsible black engineers who excel academically, succeed professionally and positively impact the community." The National Society of Black Engineers (NSBE) is a 501(C)(3) non-profit association that is owned and managed by its members.

Beyond looking to develop adult, we believe that the future of technology is in the ends of our youths; this is why we have also venture in a journey to engage, mentor, coach and develop our youth of Portland who shows interest in science, engineering and math.

Now, let's make our world a technological advanced place!</p>
